.card {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid gray;
  display: flex;
}

.metadata {
  flex-grow: 1;
}

.title {
  font-family: 'Staatliches';
  font-size: 36px;
  font-weight: 400;
}

.date {
  font-family: 'Rubik';
  font-style: italic;
}

.tagIcons {
  flex-shrink: 1;
  font-size: 36px;;
}

.tagIcon {
  padding: 5px;
}
