.card {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 20px;
  border: 1px solid gray;
  display: flex;
}

.metadata {
  flex-grow: 1;
}

.title {
  font-family: 'Staatliches';
  font-size: 36px;
  font-weight: 400;
}

.date {
  font-family: 'Rubik';
  font-style: italic;
}

.tagGroup {
  font-family: 'Rubik';
  font-size: 12px;
}
