.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sliceContainer {
  display: flex;
  width: 100%;
  height: 100px;
}

.daySlice {
  flex-grow: 1;
}

.gridMonthRow {
  display: flex;
}

.gridMonthDay {
  flex-grow: 1;
}

.dayTile {
  height: 30px;
}