/* header/display fonts */

@font-face {
  font-family: 'Staatliches';
  src: url('/fonts/Staatliches-Regular.ttf') format('truetype');
}

/* serif fonts */

@font-face {
  font-family: 'Arvo';
  src: url('/fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Bitter;
  src: url('/fonts/Bitter-VariableFont_wght.ttf') format('truetype');
}

/* sans-serif fonts */

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Rubik;
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
}

:root {
  --fg: #202020;
  --bg: #dddddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --fg: #dddddd;
    --bg: #202020;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
}

a {
  color: unset;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik';
  font-weight: 400;
}

p {
  font-family: 'Bitter';
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

.nav {
  font-family: 'Rubik';
}

.constructionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructionDomTitle {
  font-family: 'Staatliches';
  font-size: 64px;
  text-align: center;
}

.constructionSubtitle {
  font-family: 'Staatliches';
  font-size: 42px;
  text-align: center;
}

.constructionSubSubtitle {
  font-family: 'Staatliches';
  font-size: 24px;
  text-align: center;
}

.constructionSubSubSubtitle {
  font-family: 'Staatliches';
  font-size: 12px;
  text-align: center;
}