@font-face {
  font-family: 'Arvo';
  src: url('/fonts/Arvo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  src: url('/fonts/Staatliches-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'JosefinSans';
  src: url('/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

html,
body {
  padding: 0;
  margin: 0;
  color: #dddddd;
  background-color: #202020;
}

a {
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Staatliches';
  font-weight: 400;
}

body, p {
  font-family: 'Lora';
  line-height: 175%;
}

* {
  box-sizing: border-box;
}
